/* container "normal" de tipo bloque */

.container{
    display: block; /* por default, no hace falta la etiqueta*/
    background-color: aqua;
    padding: 5px;
}

.container div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: beige;
}

/* container flex */

.container-flex {
    display: flex;
    background-color: coral;
    padding: 3px;
    justify-content: center; /*flex-start; center; flex-end*/
    /* para cambiar de fila a columna */
    flex-direction: row;
    width: 500px;
    height: 250px;
    flex-wrap: wrap; /*si el contenido supera el tamaño del container, se achican*/
    align-items: center;

}

.container-flex div{
    margin: 2px;
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    background-color: rgb(192, 192, 102);
    text-align: center;

}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query sirve para cambiar estilos en determinadas resoluciones*/

@media screen and (max-width: 600px) {
    .container-flex {
        flex-direction: column;
    }
}

/* para eliminar los margenes */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

.content-text {
    padding: 5px;
    margin: 10px;
}

section img {
    width: 30%;
}

/*scrolling*/

html {
    scroll-behavior: smooth;
}

/* aplico colores de fondo: gradientes */

section:first-child {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

section:nth-child(2) {
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

section:last-child {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

/* cambio a para q sea un boton */

section a {
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: teal;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}

section a:hover {
    font-weight: bolder;
}

section a:active {
    opacity: 0,5;
}

@media screen and (max-width: 1000px) {
    section {
        flex-direction: column-reverse;
    }
}