
main {
    margin-left: 5px;
    margin-right: 5px;
}
.row {
    margin-bottom: 20px;
}
.row div {
    padding-left: 0px;
    padding-right: 0px;
}

div .card-body {
    padding-left: 20px;
    padding-right: 20px;
}
